@font-face {
	font-family: rex;
	src: url(c:/users/saleh/desktop/taxi/fonts/rex.woff);
}
@font-face {
	font-family: manteka;
	src: url(c:/users/saleh/desktop/taxi/fonts/manteka.otf);
}
@font-face {
	font-family: valentina;
	src: url(c:/users/saleh/desktop/taxi/fonts/valentina.otf);
}
@font-face {
	font-family: oxygen;
	src: url(c:/users/saleh/desktop/taxi/fonts/Oxygen.woff);
}


body {
	margin: 0;
	padding: 0;
	/*background: url(file://c:/users/saleh/desktop/taxi/ggbridgefull1680.png) no-repeat ;*/
	/*background-color: #34495e; #bdc3c7 */
	background-color: white;
}


#container {
	/*border: 1px solid black;*/
	width: 960px;
	margin: 20px auto 20px auto;
	background-color: #27ae60;
	border-radius: 1px;
	box-shadow: 0px 0px 10px 5px #f1c40f; 
}

#logo {
	/*border: 1px solid black;*/
	width: 600px;
	height: 130px;
	margin: 5px auto 5px auto;
	display: block;
}
#logo h1{
	font-size: 5em;
	font-family: rex;
	
	padding: 0;
	margin: auto;
	color: #f1c40f;
	text-align: center;
}
#logo h4 {
	font-family: oxygen;
	text-align: center;
	margin: auto;
}
#logo h4 a {
	text-decoration: none;
	color: #f1c40f ;
	text-transform: uppercase;
}
#logo h4 a:hover {
	color: white;
}

#number {
	/*border: 1px solid black;*/
	width: 700px;
	height: 75px;
	display: block;
	margin: 5px auto 5px auto;
}
#number h1 {
	font-size: 4em;
	font-family: rex;
	text-align: center;
	margin: auto;

}



#picture {
	/*border: 1px solid black;*/
	width: 455px;
	height: 405px;
	display: inline-block;
	
}

#picture img {
	width: 449px;
	height: 404px;
	padding:;
	margin: auto;
}

#statement {
	border-top: 1px solid #f1c40f;
	width: 505px;
	height: 405px;
	display: inline-block;
	margin-bottom: 100px;
	position: absolute;
}

#main {
	/*border: 1px solid black;*/
	height: 405px;
}

#statement p {
	font-size: 1.6em;
	font-family: oxygen;
	text-align: center;
	padding: 5px;
	margin: auto;

}

#locations {
	border-top: 1px solid #f1c40f;
	width: 960px;
	height: ;

}

#locations p {
	font-family: oxygen;
	text-align: center;
	padding: 5px;
	font-weight:;
	margin: auto;
	font-size: 1.5em;

	text-transform: uppercase;
}

.footer {
	border-top: 1px solid #f1c40f;
	width: 960px;
	height: 180px;
	
}

#address {
	/*border: 1px solid black;*/
	float: right;
	width: 290px;
	height: 175px;
	/*margin-top: 34px;*/
	margin-right: 10px;
	
}

#address h2 {
	text-align: center;
	font-family:rex;
	color: #f1c40f;
}

#payment {
	/*border: 1px solid black;*/
	width: 655px;
	height: 111px;
	margin-top: 45px;
}

#payment img {
	display: inline;
	width: 160px;
	height: 110px;
	
	margin: auto;

}




